PORT=3000

DATABASE_URL="postgresql://user:password@IP:PORT/dbname"

JWT_SECRET="a3f9c1d8e7b2f4a6c9d1e0b3a5f7c8d9e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6"
JWT_EXPIRES_IN="8h"

ADMIN_BOOTSTRAP_EMAIL="adm@adm.com"
ADMIN_BOOTSTRAP_PASSWORD="123"
